<!DOCTYPE html>
{% extends 'app/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}


<h3>Home Page</h3>
<ul>
    {% for post in object_list %}
    <li><a href="{% url 'article-detail' post.pk %}"> {{ post.title }} </a>-<br/>
        {% if post.header_image %}
            <img src="{{ post.header_image.url }}">
        {% endif %}
        {{ post.category }} <br/>
        {{ post.author }} <br/>
        {{ post.snippet }} <br/>
        {{ post.post_date }} <br/>
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <small><a href="{% url 'updatepost' post.pk %}"> Edit </a><a href="{% url 'deletepost' post.pk %}"> Delete </a></small></li>
            {% endif %}
        {% endif %}
    {% endfor %}

</ul>

    {% endblock %}
</body>
</html>